{% extends "layout.html" %}

{% block breadcrumb %}
    <span class="font-semibold text-white tracking-tight">
        > <a href="/support/users/{{ current_user.key.user_id }}/feedbacks">要望一覧</a> > {{ feedback.title.value }}
    </span>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-12 gap-8">
        <div class="col-span-8">
            <div class="flex items-center mt-4">
                <div class="w-24 text-gray-600 text-sm">
                    タイトル
                </div>
                <div class="font-bold text-2xl">
                    {{ feedback.title.value }}
                </div>
            </div>

            <div class="flex mt-4">
                <div class="w-24 text-gray-600 text-sm">
                    説明
                </div>
                <div class="flex-grow border rounded p-4">
                    {{ feedback.description.value }}
                </div>
            </div>

            <div class="flex items-center mt-4">
                <div class="w-24 text-gray-600 text-sm">
                    登録日
                </div>
                <div class="">
                    {{ feedback.created_at.strftime("%Y-%m-%d %H:%M") }}
                </div>
            </div>

            <div class="flex items-center mt-4">
                <div class="w-24 text-gray-600 text-sm">
                    状態
                </div>
                <div class="">
                    <form method="POST" action="/support/users/{{ current_user.key.user_id }}/feedbacks/{{ feedback.key.feedback_id }}">
                        <select name="status">
                            {% for status in statuses %}
                                <option value="{{ status.name }}" {% if status == feedback.status %}selected{% endif %}>{{ status.value }}</option>
                            {% endfor %}
                        </select>
                        <input
                                class="bg-blue-500 hover:bg-blue-700 text-white inline-block font-bold py-3 px-4 rounded"
                                type="submit" value="状態を変更する" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-span-4">
            <div class="flex mt-4 mb-4 items-center">
                <div class="text-xl font-bold mr-4">
                    コメント
                </div>

                <form method="POST" action="/support/users/{{ current_user.key.user_id }}/feedbacks/{{ feedback.key.feedback_id }}/comments">
                    <input
                            class="bg-blue-500 hover:bg-blue-700 text-white inline-block font-bold py-3 px-4 rounded"
                            type="submit" value="＋新しいコメントを投稿" />
                </form>
            </div>

            {% for comment in comments %}
                <div style="border-top: 1px solid gray; width: 500px;">
                    <b>{{ comment.feedback_comment_user.name.value }}</b><br/>
                    {{ comment.body.value }}
                </div>
            {% else %}
                コメントがありません
            {% endfor %}

        </div>
    </div>
{% endblock %}
