{% extends "layout.html" %}

{% block content %}
    <h2>要望: {{ feedback.title.value }}</h2>

    <h3>説明</h3>
    <pre style="border: 1px solid black; width: 500px;">{{ feedback.description.value }}</pre>

    <h3>登録日</h3>
    <div>{{ feedback.created_at.strftime("%Y-%m-%d %H:%M") }}</div>

    <h3>状態</h3>
    <div>{{ feedback.status.value }}</div>

    <hr/>

    <h2>コメント</h2>

    {% for comment in comments %}
        <div style="border-top: 1px solid gray; width: 500px;">
            <b>{{ comment.feedback_comment_user.name.value }}</b><br/>
            {{ comment.body.value }}
        </div>
    {% endfor %}

    <div style="border-top: 1px solid gray; width: 500px;">
        <form method="POST" action="/user/users/{{ current_user.key.user_id }}/feedbacks/{{ feedback.key.feedback_id }}/comments">
            <input type="submit" value="投稿する" />
        </form>
    </div>

    <hr/>
    <a href="/user/users/{{ current_user.key.user_id }}/feedbacks">要望一覧に戻る</a>
{% endblock %}
