{% extends "layout.html" %}

{% block content %}
    <h2>{{ current_user.name.value }} さんの要望一覧</h2>

    <table>
    <tr>
        <th>要望ID</th>
        <th>要望タイトル</th>
        <th>要望登録日</th>
    </tr>
    {% for feedback in feedbacks %}
        <tr>
        <td>{{ feedback.key.feedback_id }}</td>
        <td>{{ feedback.title.value }}</td>
        <td>{{ feedback.created_at.strftime("%Y-%m-%d %H:%M") }}</td>
        <td><a href="/user/users/{{ current_user.key.user_id }}/feedbacks/{{ feedback.key.feedback_id }}">詳細</a></td>
        </tr>
    {% endfor %}
    </table>

    <h2>新しい要望を登録する</h2>

    <form method="POST">
    <input type="submit" value="登録">
    </form>
{% endblock %}
