{% extends "layout.html" %}

{% block breadcrumb %}
    <span class="font-semibold text-white tracking-tight">
    > {{ current_user.name.value }} さんの要望一覧
    </span>
{% endblock %}

{% block content %}

    <form method="POST">
        <input
                class="bg-blue-500 hover:bg-blue-700 text-white inline-block font-bold py-3 px-4 rounded"
                type="submit" value="＋新しい要望を登録">
    </form>

    <ul>
        {% for feedback in feedbacks %}
            <li
                    class="border rounded border-grey-700 py-2 px-4 m-4"
            >
                <div class="flex">
                    <a href="/customer/users/{{ current_user.key.user_id }}/feedbacks/{{ feedback.key.feedback_id }}"
                       class="flex-grow text-xl font-bold text-blue-700 hover:text-blue-800 hover:underline"
                    >
                        {{ feedback.title.value }}
                    </a>
                    <div class="rounded bg-gray-500 text-white text-sm font-bold py-1 px-2">{{ feedback.status.value }}</div>
                </div>
                <div class="flex">
                    <div class="flex-grow text-gray-700">{{ feedback.key.feedback_id }}</div>
                    <div>{{ feedback.created_at.strftime("%Y-%m-%d %H:%M") }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
