{% extends "layout.html" %}

{% block content %}
    <p class="text-gray-700">
        これは、「要望箱」を題材にした DDD (ドメイン駆動設計) の実践サンプルアプリケーションです。
    </p>

    <div class="text-xl font-bold py-2 mt-6">
        顧客ユーザとして利用する
    </div>

    <a href="/customer/users/c10001/feedbacks"
       class="bg-blue-500 hover:bg-blue-700 text-white inline-block font-bold py-3 px-4 rounded"
    >
        山田太郎としてログイン
    </a>
    <a href="/customer/users/c10002/feedbacks"
       class="bg-blue-500 hover:bg-blue-700 text-white inline-block font-bold py-3 px-4 rounded"
    >
        山田次郎としてログイン
    </a>

    <div class="text-xl font-bold py-2 mt-6">
        サポートユーザとして利用する
    </div>

    <a href="/support/users/s90099/feedbacks"
       class="bg-red-500 hover:bg-red-700 text-white inline-block font-bold py-3 px-4 rounded"
    >
        佐藤健太としてログイン
    </a>

{% endblock %}
